<center>
<h1>Epicodus Hair Salon</h1>
</center>

<h3>Here are all of the stylists in the database:</h3>

<%if @stylist.any?()%>
  <p> Click on a stylist to view clients:</p>

  <ul>
    <% @stylist.each do |stylist| %>
      <li><a href="/stylists/<%= stylist.id() %>"><%= stylist.name() %></a></li>
    <% end %>
  </ul>
<% else %>
  <p> There are no stylists added yet!</p>
<% end %>

<br>
<p><a href="/stylists/new"> Add a New Stylist</a></p>
