<div class="main_box">

<h1>Epicodus Hair Salon</h1>

<div class="container">
  <a href="/stylists" class="btn btn-default btn-lg btn-block">See Stylists</a>
</br>
<a href="/stylists/new" class="btn btn-default btn-lg btn-block">Add New Stylist</a>
</div>
</div>
