<h1><%= @stylist.name() %></h1>

<% if @stylist.clients().any?() %>
  <h3>Here are all of this stylists clients:</h3>

  <ul>
    <% @stylist.clients().each() do |client| %>
      <li><%= client.name() %></li>
      <% end %>
  </ul>

  <% else %>
    <p>There are no clients yet!</p>
  <% end %>

  <div class="container">
    <a href="/"><button class="btn">Home</a>
  </div>

<h3>Add a client to <%= @list.name() %></h3>

<form action="/clients" method="post">
  <input id="stylist_id" name="stylist_id" type="hidden" value="<%= @stylist.id() %>">

  <label for="name">Client Name:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add Client</button>
</form>

<hr>

<div class="container">
  <a href="/">Home</a>
  <a href="/lists">View All Stylists</a>
  <a href="/lists/new">Add New Stylists</a>
  <a href="/lists/new">Add New Client</a>
</div>
